:root {
  /* Colors */
  // primary
  --color-black-primary: rgba(20, 20, 16, 0.89);
  --color-pink-primary: rgb(245, 242, 242);
  --color-white-primary: rgb(247, 243, 243);
  //  pink
  --color-pink: rgb(255, 240, 240);
  --color-pink-light: rgb(249, 196, 210);
  --color-pink-dirty: rgb(177, 133, 151);
  // purple
  --color-purple: rgba(182, 90, 239, 0.819);

  // beige
  --color-beige: rgb(252, 229, 228);
  --color-beige-dark: rgb(255, 233, 233);
  //grey
  --color-grey: rgb(165, 160, 160);
  //technical variables

  --color-attention: rgb(190, 0, 0, 0.88);

}